html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.content-title{
    color: white;
    text-align: center;
}
.center {
    text-align: center;
}
.content-container {
    margin: 8em auto;
    max-width: 70%;
    
}
.content {
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 40px;
    margin-bottom: 80px;
}
.ende, .start{
    grid-column-start: 1;
    grid-column-end: 3;
}
.img {
    display: block;
    margin: auto;
    padding: 10px;
    height: auto; 
    width: auto; 
    max-width: 98%; 
    max-height: auto;
    border-radius: 1em;
    
}
.slide {
    display: none;
    grid-template-columns: auto auto;
    padding: 40px;
  }
  .slide.on {
    display: grid;
  }

  .navigation{
    margin: 0 auto;
  }


@media only screen and (max-width: 1000px) {
    .slide {
        padding: 0;
        grid-template-columns: auto;
        column-gap: 40px;
    }
    .content {
        padding: 10;
    }
    .ende, .start{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .img {
        margin-top: 10px;
        max-width: 90%; 
    }
    .content-container {
        margin: 2em auto;
        max-width: 90%;
        
    }
}